*{
  font-family: 'Merriweather'; 
}

#welcome-section {
  background-image: url(../assets/backgrounds/h_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  padding-top: 8%;
  color: white;
  text-align: center;
  line-height: normal;
  justify-items: center;
}

#welcome-section h1{
  padding: 5px;
}

#welcome-text{
  margin-top: 2%;
  margin-bottom: 6%;
}

#welcome-section img {
  margin: 2%;
}

#about-us{
  text-align: center;
  font-size: medium;
  padding: 5%;
}

#services {
  padding: 5%;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: medium;
  background-image: url(../assets/backgrounds/s_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#what-we-do{
  padding: 5% 0;
  text-align: center;
}

#portfolio{
  text-align: center;
}

.portfolios{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-content: space-around;
}

.portfolios img{
  width: 250px;
  height: auto;
  margin: 2%;
}

.hidden{
  font-size: smaller;
  display: none;
  padding: 5%;
}

.hidden h3{
  font-size: medium;
  font-weight: bold;
}

#contact-us{
  text-align: center;
  color: white;
  background-image: url(../assets/backgrounds/c_image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

input{
  width: 300px;
  color: antiquewhite;
  background-color: transparent;
}

textarea{
  width: 500px;
  height: 250px;
  color: antiquewhite;
  background-color: transparent;
}

footer{
  padding: 30px 0;
  text-align: center;
}

footer p{
  font-size: smaller;
}